SignIn.css

header
{
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    float: right;
    position: right;
}

.container{
    padding: 7px 25px;
    display: inlin-block;
    margin: 0px; 
    padding-left: 800px;
}


menu
{
    float: right;
}



h1
{
    background-color:#2980B9;
}

body
 {
     background-color:#F2F4EE;
     margin: 0;
    
 }

 label
 {
     background-color: #B2C8E6;
 }

 button
 {
     background-color: #B2C8E6;
 }

 table
 {
     border:#2980B9;
 }
