SignIn.css

ul :hover {
    background-color: #2980B9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#B8B8B8;
    float: left;
    border-left:1px solid #bbb;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


h1
{
    background-color:#2980B9;
}

body
 {
     background-color:#F2F4EE;
     margin: 0;
    
 }

 label
 {
     background-color: #B2C8E6;
 }

 button
 {
     background-color: #B2C8E6;
 }

 table
 {
     border:#2980B9;
 }
