SignIn.css

ul :hover {
    display: block;
    text-align: center;
    text-decoration: none;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }

  .header-right {
    float: right;
  }

h1
{
    background-color:#2980B9;
}

body
 {
     background-color:#F2F4EE;
     margin: 0;
    
 }

 label
 {
     background-color: #B2C8E6;
 }

 button
 {
     background-color: #B2C8E6;
 }

 table
 {
     border:#2980B9;
 }
